* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: black;
    padding: 0px 10px;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal overflow on small screens */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}

.links {
    display: flex;
    gap: 20px;
    font-weight: 400;
    font-size: 12px;
}

.link {
    text-decoration: none;
    color: gray;
}

.link:hover {
    color: white;
}

.logo-link-tag {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
}

.hero-heading {
    font-size: 50px;
    color: cornflowerblue;
    letter-spacing: -3px;
    font-weight: bolder;
    text-transform: uppercase;
}

.hero-para {
    font-size: 15px;
    color: gainsboro;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 50px 20px;
}

.services-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    gap: 20px;
}

.about-image, .about-texts {
    width: 100%;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.footer-intro-contact {
    font-size: 14px;
    color: gray;
}

.footer-social-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.social-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: whitesmoke;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    transition: 0.5s all;
}

.social-icon:hover {
    background-color: darkgray;
    color: black;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 50px 20px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .hero-heading {
        font-size: 70px;
        letter-spacing: -5px;
    }
    
    .services-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .about {
        flex-direction: row;
        padding: 50px 100px;
    }
    
    .about-image, .about-texts {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .links {
        width: 100%;
        
    }
    .header {
        padding: 20px 100px;
    }
    
    .services-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .hero-heading {
        font-size: 100px;
        letter-spacing: -8px;
    }
    
    .hero-buttons {
        justify-content: center;
    }
    
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 100px;
    }
}
